<a href="https://colab.research.google.com/github/sripriya444/sql_notes_sripriya/blob/main/Phonepe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/PhonePe/pulse

Cloning into 'pulse'...
remote: Enumerating objects: 17904, done.
remote: Counting objects: 100% (49/49), done.
remote: Compressing objects: 100% (32/32), done.
remote: Total 17904 (delta 19), reused 17 (delta 17), pack-reused 17855 (from 2)
Receiving objects: 100% (17904/17904), 26.13 MiB | 16.49 MiB/s, done.
Resolving deltas: 100% (8723/8723), done.
Updating files: 100% (9029/9029), done.

#Aggregated

#Aggregated Insurance

In [ ]:
import os
agg_state_path="/content/pulse/data/aggregated/insurance/country/india/state/"
agg_state_list=os.listdir(agg_state_path)
agg_state_list

In [3]:
import pandas as pd
import json
import os

In [ ]:
for state in agg_state_list:
    years=os.listdir(f"{agg_state_path}/{state}")
    for year in years:
        quarter=os.listdir(f"{agg_state_path}/{state}/{year}")
        for qtr in quarter:
           print(f"{agg_state_path}/{state}/{year}/{qtr}")

In [ ]:
path="/content/pulse/data/aggregated/insurance/country/india/state/andaman-&-nicobar-islands/2020/2.json"

with open(path,'r') as f:
  data=json.load(f)
data

{'success': True,
 'code': 'SUCCESS',
 'data': {'from': 1585679400000,
  'to': 1593282600000,
  'transactionData': [{'name': 'Insurance',
    'paymentInstruments': [{'type': 'TOTAL', 'count': 6, 'amount': 1360.0}]}]},
 'responseTimestamp': 1692610808643}

In [ ]:
data.keys()

dict_keys(['success', 'code', 'data', 'responseTimestamp'])

In [ ]:
data['data']

{'from': 1585679400000,
 'to': 1593282600000,
 'transactionData': [{'name': 'Insurance',
   'paymentInstruments': [{'type': 'TOTAL', 'count': 6, 'amount': 1360.0}]}]}

In [ ]:
data['data']['transactionData'][0]['paymentInstruments']

[{'type': 'TOTAL', 'count': 6, 'amount': 1360.0}]

In [ ]:
for i in data['data']['transactionData']:
  name=i['name']
  count=i['paymentInstruments'][0]['count']
  amount=i['paymentInstruments'][0]['amount']
  print(name,count,amount)

Insurance 6 1360.0

In [ ]:
for i in data['data']['transactionData']:
  print(i['paymentInstruments'])

[{'type': 'TOTAL', 'count': 6, 'amount': 1360.0}]

In [ ]:
agg_trans_data={'States':[], 'Years':[], 'Quarter':[], 'transaction_type':[], 'transaction_count':[], 'transaction_amount':[]}


for state in agg_state_list:
    years=os.listdir(f"{agg_state_path}/{state}")
    for year in years:
        quarter=os.listdir(f"{agg_state_path}/{state}/{year}")
        for qtr in quarter:
           print(f"{agg_state_path}/{state}/{year}/{qtr}")
           #print(path)

           with open(path,'r') as f:
             data=json.load(f)
           #print(data)
           try:
              for i in data['data']['transactionData']:
                name=i['name']
                count=i['paymentInstruments'][0]['count']
                amount=i['paymentInstruments'][0]['amount']
                agg_trans_data['transaction_type'].append(name)
                agg_trans_data['transaction_count'].append(count)
                agg_trans_data['transaction_amount'].append(amount)
                agg_trans_data['States'].append(state)
                agg_trans_data['Years'].append(year)
                agg_trans_data['Quarter'].append(int(qtr.strip(".json")))
           except:
               pass

agg_trans_data

In [ ]:
agg_trans_df=pd.DataFrame(agg_trans_data)
agg_trans_df

,States,Years,Quarter,transaction_type,transaction_count,transaction_amount
0,rajasthan,2023,1,Insurance,6,1360.0
1,rajasthan,2023,2,Insurance,6,1360.0
2,rajasthan,2023,3,Insurance,6,1360.0
3,rajasthan,2023,4,Insurance,6,1360.0
4,rajasthan,2020,2,Insurance,6,1360.0
...,...,...,...,...,...,...
679,lakshadweep,2021,4,Insurance,6,1360.0
680,lakshadweep,2024,1,Insurance,6,1360.0
681,lakshadweep,2024,2,Insurance,6,1360.0
682,lakshadweep,2024,3,Insurance,6,1360.0
683,lakshadweep,2024,4,Insurance,6,1360.0

#Aggregated transaction

In [ ]:
agg_state_path1="/content/pulse/data/aggregated/transaction/country/india/state"
agg_state_list=os.listdir(agg_state_path)
agg_state_list

In [ ]:
for state in agg_state_list:
    years=os.listdir(f"{agg_state_path1}/{state}")
    for year in years:
        quarter=os.listdir(f"{agg_state_path1}/{state}/{year}")
        for qtr in quarter:
           path=f"{agg_state_path1}/{state}/{year}/{qtr}"
           print(path)

In [ ]:
path1="/content/pulse/data/aggregated/transaction/country/india/state/andaman-&-nicobar-islands/2018/1.json"

with open(path1,'r') as f:
  data=json.load(f)
data

In [ ]:
data.keys()

dict_keys(['success', 'code', 'data', 'responseTimestamp'])

In [ ]:
data['data']

{'from': 1633026600000,
 'to': 1640629800000,
 'transactionData': [{'name': 'Insurance',
   'paymentInstruments': [{'type': 'TOTAL',
     'count': 757,
     'amount': 1056380.0}]}]}

In [ ]:
data['data']['transactionData']

[{'name': 'Insurance',
  'paymentInstruments': [{'type': 'TOTAL',
    'count': 757,
    'amount': 1056380.0}]}]

In [ ]:
data['data']['transactionData'][0]['paymentInstruments']

[{'type': 'TOTAL', 'count': 4200, 'amount': 1845307.4673655091}]

In [ ]:
agg_trans_data1={'States':[], 'Years':[], 'Quarter':[], 'transaction_type':[], 'transaction_count':[], 'transaction_amount':[]}


for state in agg_state_list:
    years=os.listdir(f"{agg_state_path1}/{state}")
    for year in years:
        quarter=os.listdir(f"{agg_state_path1}/{state}/{year}")
        for qtr in quarter:
           path=f"{agg_state_path1}/{state}/{year}/{qtr}"
           #print(path)

           with open(path1,'r') as f:
              data=json.load(f)
           #print(data)
           try:
              for i in data['data']['transactionData']:
                name=i['name']
                count=i['paymentInstruments'][0]['count']
                amount=i['paymentInstruments'][0]['amount']
                agg_trans_data1['transaction_type'].append(name)
                agg_trans_data1['transaction_count'].append(count)
                agg_trans_data1['transaction_amount'].append(amount)
                agg_trans_data1['States'].append(state)
                agg_trans_data1['Years'].append(year)
                agg_trans_data1['Quarter'].append(int(qtr.strip(".json")))
           except:
               pass
agg_trans_data1

In [ ]:
agg_trans_df1=pd.DataFrame(agg_trans_data1)
agg_trans_df1

,States,Years,Quarter,transaction_type,transaction_count,transaction_amount
0,west-bengal,2022,1,Recharge & bill payments,4200,1.845307e+06
1,west-bengal,2022,1,Peer-to-peer payments,1871,1.213866e+07
2,west-bengal,2022,1,Merchant payments,298,4.525072e+05
3,west-bengal,2022,1,Financial Services,33,1.060142e+04
4,west-bengal,2022,1,Others,256,1.846899e+05
...,...,...,...,...,...,...
5035,assam,2020,3,Recharge & bill payments,4200,1.845307e+06
5036,assam,2020,3,Peer-to-peer payments,1871,1.213866e+07
5037,assam,2020,3,Merchant payments,298,4.525072e+05
5038,assam,2020,3,Financial Services,33,1.060142e+04
5039,assam,2020,3,Others,256,1.846899e+05

#Aggregated User

In [ ]:
agg_state_path2="/content/pulse/data/aggregated/user/country/india/state"
agg_state_list=os.listdir(agg_state_path2)
agg_state_list

In [ ]:
for state in agg_state_list:
    years=os.listdir(f"{agg_state_path2}/{state}")
    for year in years:
        quarter=os.listdir(f"{agg_state_path2}/{state}/{year}")
        for qtr in quarter:
           path=f"{agg_state_path2}/{state}/{year}/{qtr}"
           print(path)

In [ ]:
path2="/content/pulse/data/aggregated/user/country/india/state/andaman-&-nicobar-islands/2018/1.json"

with open(path2,'r') as f:
  data=json.load(f)
data

In [ ]:
data.keys()

dict_keys(['success', 'code', 'data', 'responseTimestamp'])

In [ ]:
data['data']

{'aggregated': {'registeredUsers': 6740, 'appOpens': 0},
 'usersByDevice': [{'brand': 'Xiaomi',
   'count': 1665,
   'percentage': 0.2470326409495549},
  {'brand': 'Samsung', 'count': 1445, 'percentage': 0.21439169139465875},
  {'brand': 'Vivo', 'count': 982, 'percentage': 0.1456973293768546},
  {'brand': 'Oppo', 'count': 501, 'percentage': 0.07433234421364986},
  {'brand': 'OnePlus', 'count': 332, 'percentage': 0.04925816023738872},
  {'brand': 'Realme', 'count': 316, 'percentage': 0.04688427299703264},
  {'brand': 'Apple', 'count': 229, 'percentage': 0.03397626112759644},
  {'brand': 'Motorola', 'count': 226, 'percentage': 0.03353115727002967},
  {'brand': 'Lenovo', 'count': 202, 'percentage': 0.02997032640949555},
  {'brand': 'Huawei', 'count': 158, 'percentage': 0.02344213649851632},
  {'brand': 'Others', 'count': 684, 'percentage': 0.10148367952522255}]}

In [ ]:
data['data']['usersByDevice']

[{'brand': 'Xiaomi', 'count': 1665, 'percentage': 0.2470326409495549},
 {'brand': 'Samsung', 'count': 1445, 'percentage': 0.21439169139465875},
 {'brand': 'Vivo', 'count': 982, 'percentage': 0.1456973293768546},
 {'brand': 'Oppo', 'count': 501, 'percentage': 0.07433234421364986},
 {'brand': 'OnePlus', 'count': 332, 'percentage': 0.04925816023738872},
 {'brand': 'Realme', 'count': 316, 'percentage': 0.04688427299703264},
 {'brand': 'Apple', 'count': 229, 'percentage': 0.03397626112759644},
 {'brand': 'Motorola', 'count': 226, 'percentage': 0.03353115727002967},
 {'brand': 'Lenovo', 'count': 202, 'percentage': 0.02997032640949555},
 {'brand': 'Huawei', 'count': 158, 'percentage': 0.02344213649851632},
 {'brand': 'Others', 'count': 684, 'percentage': 0.10148367952522255}]

In [ ]:
agg_trans_data2={'States':[], 'Years':[], 'Quarter':[], 'brand':[], 'transaction_count':[], 'percentage':[]}


for state in agg_state_list:
    years=os.listdir(f"{agg_state_path2}/{state}")
    for year in years:
        quarter=os.listdir(f"{agg_state_path2}/{state}/{year}")
        for qtr in quarter:
           path=f"{agg_state_path2}/{state}/{year}/{qtr}"
           #print(path)

           with open(path2,'r') as f:
              data=json.load(f)
           #print(data)
           try:
              for i in data['data']['usersByDevice']:
                brand=i['brand']
                count=i['count']
                percentage=i['percentage']
                agg_trans_data2['brand'].append(brand)
                agg_trans_data2['transaction_count'].append(count)
                agg_trans_data2['percentage'].append(percentage)
                agg_trans_data2['States'].append(state)
                agg_trans_data2['Years'].append(year)
                agg_trans_data2['Quarter'].append(int(qtr.strip(".json")))
           except:
              pass
agg_trans_data2

In [ ]:
agg_trans_df2=pd.DataFrame(agg_trans_data2)
agg_trans_df2

,States,Years,Quarter,brand,transaction_count,percentage
0,lakshadweep,2023,2,Xiaomi,1665,0.247033
1,lakshadweep,2023,2,Samsung,1445,0.214392
2,lakshadweep,2023,2,Vivo,982,0.145697
3,lakshadweep,2023,2,Oppo,501,0.074332
4,lakshadweep,2023,2,OnePlus,332,0.049258
...,...,...,...,...,...,...
11083,andaman-&-nicobar-islands,2019,4,Apple,229,0.033976
11084,andaman-&-nicobar-islands,2019,4,Motorola,226,0.033531
11085,andaman-&-nicobar-islands,2019,4,Lenovo,202,0.029970
11086,andaman-&-nicobar-islands,2019,4,Huawei,158,0.023442
11087,andaman-&-nicobar-islands,2019,4,Others,684,0.101484

#Map

#Map_Insurance_country

In [ ]:
map_ins_state_path="/content/pulse/data/map/insurance/country/india/state"
map_state_list=os.listdir(map_ins_state_path)
map_state_list

In [ ]:
for state in map_state_list:
    years=os.listdir(f"{map_ins_state_path}/{state}")
    for year in years:
        quarter=os.listdir(f"{map_ins_state_path}/{state}/{year}")
        for qtr in quarter:
           path=f"{map_ins_state_path}/{state}/{year}/{qtr}"
           print(path)

In [ ]:
map_ins_path="/content/pulse/data/map/insurance/country/india/state/andaman-&-nicobar-islands/2020/2.json"

with open(map_ins_path,'r') as f:
  data=json.load(f)
data

{'success': True,
 'code': 'SUCCESS',
 'data': {'meta': {'dataLevel': 'STATE',
   'gridLevel': 11,
   'percentiles': {'10.0': 1,
    '20.0': 1,
    '40.0': 2,
    '80.0': 3,
    '90.0': 3,
    '99.5': 3,
    '50.0': 2,
    '30.0': 2,
    '60.0': 2}},
  'data': {'columns': ['lat', 'lng', 'metric', 'label'],
   'data': [[9.173490186987454, 92.81284629716966, 3.0, 'nicobars district'],
    [11.665257436858854, 92.75309356673915, 2.0, 'south andaman district'],
    [11.665446250597826, 92.73319282403017, 1.0, 'south andaman district']]}},
 'responseTimestamp': 1692610808552}

In [ ]:
data.keys()

dict_keys(['success', 'code', 'data', 'responseTimestamp'])

In [ ]:
data['data']['meta']

{'dataLevel': 'STATE',
 'gridLevel': 11,
 'percentiles': {'10.0': 1,
  '20.0': 1,
  '40.0': 2,
  '80.0': 3,
  '90.0': 3,
  '99.5': 3,
  '50.0': 2,
  '30.0': 2,
  '60.0': 2}}

In [ ]:
for i in data['data']['meta'].items():
   #print(i[0])
   print(i[1])

STATE
11
{'10.0': 1, '20.0': 1, '40.0': 2, '80.0': 3, '90.0': 3, '99.5': 3, '50.0': 2, '30.0': 2, '60.0': 2}

In [ ]:
#Once created the clone of GIT-HUB repository then,
#Required libraries for the program

import pandas as pd
import json
import os

#This is to direct the path to get the data as states

path="/content/pulse/data/map/insurance/hover/country/india/state/"
Agg_state_list=os.listdir(path)
Agg_state_list
#Agg_state_list--> to get the list of states in India

#<------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>#

#This is to extract the data's to create a dataframe

clm={'State':[], 'Year':[],'Quater':[],'Transacion_type':[], 'Transacion_count':[], 'Transacion_amount':[]}

for i in Agg_state_list:
    p_i=path+i+"/"
    Agg_yr=os.listdir(p_i)
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            print(D["data"]["hoverDataList"][0]["name"])
            try:
                for z in D['data']['transactionData']:
                  Name=z['name']
                  count=z['paymentInstruments'][0]['count']
                  amount=z['paymentInstruments'][0]['amount']
                  clm['Transacion_type'].append(Name)
                  clm['Transacion_count'].append(count)
                  clm['Transacion_amount'].append(amount)
                  clm['State'].append(i)
                  clm['Year'].append(j)
                  clm['Quater'].append(int(k.strip('.json')))
            except:
                 pass

#Succesfully created a dataframe
Agg_Trans=pd.DataFrame(clm)

pali district
pali district
pali district
pali district
pali district
pali district
pali district
pali district
pali district
pali district
pali district
pali district
pali district
pali district
pali district
pali district
pali district
dudu district
dudu district
narayanpet district
narayanpet district
narayanpet district
narayanpet district
narayanpet district
narayanpet district
narayanpet district
narayanpet district
narayanpet district
narayanpet district
narayanpet district
narayanpet district
narayanpet district
narayanpet district
narayanpet district
narayanpet district
narayanpet district
narayanpet district
narayanpet district
thiruvananthapuram district
thiruvananthapuram district
thiruvananthapuram district
thiruvananthapuram district
thiruvananthapuram district
thiruvananthapuram district
thiruvananthapuram district
thiruvananthapuram district
thiruvananthapuram district
thiruvananthapuram district
thiruvananthapuram district
thiruvananthapuram district
thiruvananthapuram district
thiruvananthapuram district
thiruvananthapuram district
thiruvananthapuram district
thiruvananthapuram district
thiruvananthapuram district
thiruvananthapuram district
jalgaon district
jalgaon district
jalgaon district
jalgaon district
jalgaon district
jalgaon district
jalgaon district
jalgaon district
jalgaon district
jalgaon district
jalgaon district
jalgaon district
jalgaon district
jalgaon district
jalgaon district
jalgaon district
jalgaon district
jalgaon district
jalgaon district
kargil district
kargil district
kargil district
kargil district
kargil district
kargil district
kargil district
kargil district
kargil district
kargil district
kargil district
kargil district
kargil district
kargil district
kargil district
kargil district
kargil district
kargil district
kargil district
south district
south district
south district
south district
south district
south district
south district
south district
south district
south district
south district
south district
south district
south district
south district
south district
south district
south east district
south east district
south twenty four parganas district
south twenty four parganas district
south twenty four parganas district
south twenty four parganas district
south twenty four parganas district
south twenty four parganas district
south twenty four parganas district
south twenty four parganas district
south twenty four parganas district
south twenty four parganas district
south twenty four parganas district
south twenty four parganas district
south twenty four parganas district
south twenty four parganas district
south twenty four parganas district
south twenty four parganas district
south twenty four parganas district
south twenty four parganas district
south twenty four parganas district
south district
south district
south district
south district
south district
south district
south district
south district
south district
south district
south district
south district
south district
south district
south district
south district
south district
pakyong district
pakyong district
muzaffarabad district
muzaffarabad district
doda district
doda district
doda district
doda district
doda district
doda district
muzaffarabad district
muzaffarabad district
muzaffarabad district
muzaffarabad district
doda district
muzaffarabad district
doda district
muzaffarabad district
muzaffarabad district
muzaffarabad district
muzaffarabad district
mon district
mon district
mon district
mon district
mon district
mon district
mon district
mon district
mon district
mon district
mon district
mon district
mon district
mon district
mon district
mon district
mon district
mon district
mon district
kangpokpi district
tamenglong district
tamenglong district
kangpokpi district
tamenglong district
kangpokpi district
kangpokpi district
kangpokpi district
tamenglong district
kangpokpi district
kangpokpi district
kangpokpi district
kangpokpi district
tamenglong district
kangpokpi district
kangpokpi district
kangpokpi district
kangpokpi district
kangpokpi district
amethi district
amethi district
amethi district
amethi district
amethi district
amethi district
amethi district
amethi district
amethi district
amethi district
amethi district
amethi district
amethi district
amethi district
amethi district
amethi district
amethi district
amethi district
amethi district
dhamtari district
dhamtari district
dhamtari district
dhamtari district
dhamtari district
dhamtari district
dhamtari district
dhamtari district
dhamtari district
dhamtari district
dhamtari district
dhamtari district
dhamtari district
dhamtari district
dhamtari district
dhamtari district
dhamtari district
dhamtari district
dhamtari district
rayagada district
rayagada district
rayagada district
rayagada district
rayagada district
rayagada district
rayagada district
rayagada district
rayagada district
rayagada district
rayagada district
rayagada district
rayagada district
rayagada district
rayagada district
rayagada district
rayagada district
rayagada district
rayagada district
lower dibang valley district
lower dibang valley district
lower dibang valley district
lower dibang valley district
lower dibang valley district
lower dibang valley district
lower dibang valley district
lower dibang valley district
lower dibang valley district
lower dibang valley district
lower dibang valley district
lower dibang valley district
lower dibang valley district
lower dibang valley district
lower dibang valley district
lower dibang valley district
lower dibang valley district
lower dibang valley district
lower subansiri district
shahid bhagat singh nagar district
shahid bhagat singh nagar district
shahid bhagat singh nagar district
shahid bhagat singh nagar district
shahid bhagat singh nagar district
shahid bhagat singh nagar district
shahid bhagat singh nagar district
shahid bhagat singh nagar district
shahid bhagat singh nagar district
shahid bhagat singh nagar district
shahid bhagat singh nagar district
shahid bhagat singh nagar district
shahid bhagat singh nagar district
shahid bhagat singh nagar district
shahid bhagat singh nagar district
shahid bhagat singh nagar district
shahid bhagat singh nagar district
fazilka district
fazilka district
anand district
anand district
anand district
anand district
anand district
anand district
anand district
anand district
anand district
anand district
anand district
anand district
anand district
anand district
anand district
anand district
anand district
anand district
anand district
north goa district
north goa district
north goa district
north goa district
north goa district
north goa district
north goa district
north goa district
north goa district
north goa district
north goa district
north goa district
north goa district
north goa district
north goa district
north goa district
north goa district
north goa district
north goa district
karaikal district
karaikal district
karaikal district
karaikal district
karaikal district
karaikal district
karaikal district
karaikal district
karaikal district
karaikal district
karaikal district
karaikal district
karaikal district
karaikal district
karaikal district
karaikal district
karaikal district
karaikal district
karaikal district
mysuru district
mysuru district
mysuru district
mysuru district
mysuru district
mysuru district
mysuru district
mysuru district
mysuru district
mysuru district
mysuru district
mysuru district
mysuru district
mysuru district
mysuru district
mysuru district
mysuru district
mysuru district
mysuru district
north and middle andaman district
north and middle andaman district
north and middle andaman district
north and middle andaman district
south andaman district
north and middle andaman district
north and middle andaman district
north and middle andaman district
north and middle andaman district
north and middle andaman district
north and middle andaman district
north and middle andaman district
north and middle andaman district
north and middle andaman district
north and middle andaman district
north and middle andaman district
north and middle andaman district
north and middle andaman district
north and middle andaman district
east godavari district
east godavari district
east godavari district
east godavari district
east godavari district
east godavari district
east godavari district
east godavari district
east godavari district
east godavari district
east godavari district
east godavari district
east godavari district
east godavari district
east godavari district
east godavari district
east godavari district
east godavari district
east godavari district
solan district
solan district
solan district
solan district
solan district
solan district
solan district
solan district
solan district
solan district
solan district
solan district
solan district
solan district
solan district
solan district
solan district
solan district
solan district
madhepura district
madhepura district
madhepura district
madhepura district
madhepura district
madhepura district
madhepura district
madhepura district
madhepura district
madhepura district
madhepura district
madhepura district
madhepura district
madhepura district
madhepura district
madhepura district
madhepura district
madhepura district
madhepura district
unakoti district
unakoti district
unakoti district
unakoti district
unakoti district
unakoti district
unakoti district
unakoti district
unakoti district
unakoti district
unakoti district
unakoti district
unakoti district
unakoti district
unakoti district
unakoti district
unakoti district
unakoti district
unakoti district
yamunanagar district
yamunanagar district
yamunanagar district
yamunanagar district
yamunanagar district
yamunanagar district
yamunanagar district
yamunanagar district
yamunanagar district
yamunanagar district
yamunanagar district
yamunanagar district
yamunanagar district
yamunanagar district
yamunanagar district
yamunanagar district
yamunanagar district
yamunanagar district
yamunanagar district
tiruchirappalli district
tiruchirappalli district
tiruchirappalli district
tiruchirappalli district
tiruchirappalli district
tiruchirappalli district
tiruchirappalli district
tiruchirappalli district
tiruchirappalli district
tiruchirappalli district
tiruchirappalli district
tiruchirappalli district
tiruchirappalli district
tiruchirappalli district
tiruchirappalli district
tiruchirappalli district
tiruchirappalli district
tiruchirappalli district
tiruchirappalli district
ramgarh district
ramgarh district
ramgarh district
ramgarh district
ramgarh district
ramgarh district
ramgarh district
ramgarh district
ramgarh district
ramgarh district
ramgarh district
ramgarh district
ramgarh district
ramgarh district
ramgarh district
ramgarh district
ramgarh district
ramgarh district
ramgarh district
chandigarh district
chandigarh district
chandigarh district
chandigarh district
chandigarh district
chandigarh district
chandigarh district
chandigarh district
chandigarh district
chandigarh district
chandigarh district
chandigarh district
chandigarh district
chandigarh district
chandigarh district
chandigarh district
chandigarh district
chandigarh district
chandigarh district
bageshwar district
bageshwar district
bageshwar district
bageshwar district
bageshwar district
bageshwar district
bageshwar district
bageshwar district
bageshwar district
bageshwar district
bageshwar district
bageshwar district
bageshwar district
bageshwar district
bageshwar district
bageshwar district
bageshwar district
bageshwar district
bageshwar district
serchhip district
serchhip district
serchhip district
serchhip district
serchhip district
serchhip district
serchhip district
serchhip district
serchhip district
serchhip district
serchhip district
serchhip district
serchhip district
serchhip district
serchhip district
serchhip district
serchhip district
hnahthial district
serchhip district
diu district
diu district
diu district
diu district
diu district
diu district
diu district
diu district
diu district
diu district
diu district
diu district
diu district
diu district
diu district
diu district
diu district
diu district
diu district
tinsukia district
tinsukia district
tinsukia district
tinsukia district
tinsukia district
tinsukia district
tinsukia district
tinsukia district
tinsukia district
tinsukia district
tinsukia district
tinsukia district
tinsukia district
tinsukia district
tinsukia district
tinsukia district
tinsukia district
tinsukia district
tinsukia district
north garo hills district
north garo hills district
north garo hills district
north garo hills district
north garo hills district
north garo hills district
north garo hills district
north garo hills district
north garo hills district
north garo hills district
north garo hills district
north garo hills district
north garo hills district
north garo hills district
north garo hills district
north garo hills district
north garo hills district
north garo hills district
north garo hills district
morena district
morena district
morena district
morena district
morena district
morena district
morena district
morena district
morena district
morena district
morena district
morena district
morena district
morena district
morena district
morena district
morena district
mauganj district
mauganj district
lakshadweep district
lakshadweep district
lakshadweep district
lakshadweep district

IndexError: list index out of range

In [ ]:
Agg_Trans=pd.DataFrame(clm)

#Map_Insurance_hover

In [ ]:
map_hover_state_path="/content/pulse/data/map/insurance/hover/country/india/state"
map_hover_state_list=os.listdir(map_hover_state_path)
map_hover_state_list

In [ ]:
for state in map_hover_state_list:
    years=os.listdir(f"{map_hover_state_path}/{state}")
    for year in years:
        quarter=os.listdir(f"{map_hover_state_path}/{state}/{year}")
        for qtr in quarter:
           path=f"{map_hover_state_path}/{state}/{year}/{qtr}"
           print(path)

In [ ]:
map_hover_path="/content/pulse/data/map/insurance/hover/country/india/state/andaman-&-nicobar-islands/2020/2.json"
with open(map_hover_path,'r') as f:
  data=json.load(f)
data

{'success': True,
 'code': 'SUCCESS',
 'data': {'hoverDataList': [{'name': 'south andaman district',
    'metric': [{'type': 'TOTAL', 'count': 3, 'amount': 795.0}]},
   {'name': 'nicobars district',
    'metric': [{'type': 'TOTAL', 'count': 3, 'amount': 565.0}]}]},
 'responseTimestamp': 1692610808730}

In [ ]:
data.keys()

dict_keys(['success', 'code', 'data', 'responseTimestamp'])

In [ ]:
data['data']

{'hoverDataList': [{'name': 'south andaman district',
   'metric': [{'type': 'TOTAL', 'count': 3, 'amount': 795.0}]},
  {'name': 'nicobars district',
   'metric': [{'type': 'TOTAL', 'count': 3, 'amount': 565.0}]}]}

In [ ]:
data['data']['hoverDataList'][0]['metric']

[{'type': 'TOTAL', 'count': 3, 'amount': 795.0}]

In [ ]:
map_hover_ins_data={'States':[], 'Years':[], 'Quarter':[], 'district':[], 'transaction_count':[], 'transaction_amount':[]}


for state in map_hover_state_list:
    years=os.listdir(f"{map_hover_state_path}/{state}")
    for year in years:
        quarter=os.listdir(f"{map_hover_state_path}/{state}/{year}")
        for qtr in quarter:
           path=f"{map_hover_state_path}/{state}/{year}/{qtr}"
           #print(path)

           with open(map_hover_path,'r') as f:
              data=json.load(f)
           #print(data)
           try:
              for i in data['data']['hoverDataList']:
                district=i['name']
                count=i['metric'][0]['count']
                amount=i['metric'][0]['amount']
                map_hover_ins_data['district'].append(district)
                map_hover_ins_data['transaction_count'].append(count)
                map_hover_ins_data['transaction_amount'].append(amount)
                map_hover_ins_data['States'].append(state)
                map_hover_ins_data['Years'].append(year)
                map_hover_ins_data['Quarter'].append(int(qtr.strip(".json")))
           except:
               pass
map_hover_ins_data

In [ ]:
map_hover_ins_df=pd.DataFrame(map_hover_ins_data)
map_hover_ins_df

,States,Years,Quarter,district,transaction_count,transaction_amount
0,rajasthan,2023,1,south andaman district,3,795.0
1,rajasthan,2023,1,nicobars district,3,565.0
2,rajasthan,2023,2,south andaman district,3,795.0
3,rajasthan,2023,2,nicobars district,3,565.0
4,rajasthan,2023,3,south andaman district,3,795.0
...,...,...,...,...,...,...
1363,lakshadweep,2024,2,nicobars district,3,565.0
1364,lakshadweep,2024,3,south andaman district,3,795.0
1365,lakshadweep,2024,3,nicobars district,3,565.0
1366,lakshadweep,2024,4,south andaman district,3,795.0
1367,lakshadweep,2024,4,nicobars district,3,565.0

#Map_Transaction_hover

In [ ]:
map_hover_trans_state_path="/content/pulse/data/map/transaction/hover/country/india/state"
map_hover_trans_state_list=os.listdir(map_hover_trans_state_path)
map_hover_trans_state_list

In [ ]:
for state in map_hover_trans_state_list:
    years=os.listdir(f"{map_hover_trans_state_path}/{state}")
    for year in years:
        quarter=os.listdir(f"{map_hover_trans_state_path}/{state}/{year}")
        for qtr in quarter:
           path=f"{map_hover_trans_state_path}/{state}/{year}/{qtr}"
           print(path)

In [34]:
map_hover_trans_path="/content/pulse/data/map/transaction/hover/country/india/state/andaman-&-nicobar-islands/2018/1.json"
with open(map_hover_trans_path,'r') as f:
  data=json.load(f)
data

{'success': True,
 'code': 'SUCCESS',
 'data': {'hoverDataList': [{'name': 'north and middle andaman district',
    'metric': [{'type': 'TOTAL', 'count': 442, 'amount': 931663.0770939873}]},
   {'name': 'south andaman district',
    'metric': [{'type': 'TOTAL', 'count': 5688, 'amount': 12560249.34366581}]},
   {'name': 'nicobars district',
    'metric': [{'type': 'TOTAL',
      'count': 528,
      'amount': 1139848.801225994}]}]},
 'responseTimestamp': 1630502910687}

In [ ]:
data.keys()

dict_keys(['success', 'code', 'data', 'responseTimestamp'])

In [35]:
data['data']['hoverDataList']

[{'name': 'north and middle andaman district',
  'metric': [{'type': 'TOTAL', 'count': 442, 'amount': 931663.0770939873}]},
 {'name': 'south andaman district',
  'metric': [{'type': 'TOTAL', 'count': 5688, 'amount': 12560249.34366581}]},
 {'name': 'nicobars district',
  'metric': [{'type': 'TOTAL', 'count': 528, 'amount': 1139848.801225994}]}]

In [ ]:
map_hover_trans_data={'States':[], 'Years':[], 'Quarter':[], 'district':[], 'transaction_count':[], 'transaction_amount':[]}


for state in map_hover_trans_state_list:
    years=os.listdir(f"{map_hover_trans_state_path}/{state}")
    for year in years:
        quarter=os.listdir(f"{map_hover_trans_state_path}/{state}/{year}")
        for qtr in quarter:
           path=f"{map_hover_trans_state_path}/{state}/{year}/{qtr}"
           #print(path)

           with open(map_hover_trans_path,'r') as f:
              data=json.load(f)
           #print(data)

           try:
              for i in data['data']['hoverDataList']:
                district=i['name']
                count=i['metric'][0]['count']
                amount=i['metric'][0]['amount']
                map_hover_trans_data['district'].append(district)
                map_hover_trans_data['transaction_count'].append(count)
                map_hover_trans_data['transaction_amount'].append(amount)
                map_hover_trans_data['States'].append(state)
                map_hover_trans_data['Years'].append(year)
                map_hover_trans_data['Quarter'].append(int(qtr.strip(".json")))
           except:
               pass
map_hover_trans_data

In [ ]:
map_hover_trans_data_df=pd.DataFrame(map_hover_trans_data)
map_hover_trans_data_df

,States,Years,Quarter,district,transaction_count,transaction_amount
0,rajasthan,2023,1,north and middle andaman district,442,9.316631e+05
1,rajasthan,2023,1,south andaman district,5688,1.256025e+07
2,rajasthan,2023,1,nicobars district,528,1.139849e+06
3,rajasthan,2023,2,north and middle andaman district,442,9.316631e+05
4,rajasthan,2023,2,south andaman district,5688,1.256025e+07
...,...,...,...,...,...,...
3019,lakshadweep,2018,3,south andaman district,5688,1.256025e+07
3020,lakshadweep,2018,3,nicobars district,528,1.139849e+06
3021,lakshadweep,2018,4,north and middle andaman district,442,9.316631e+05
3022,lakshadweep,2018,4,south andaman district,5688,1.256025e+07
3023,lakshadweep,2018,4,nicobars district,528,1.139849e+06

#Map_User_hover

In [ ]:
map_user_state_path="/content/pulse/data/map/transaction/hover/country/india/state"
map_hover_user_state_list=os.listdir(map_user_state_path)
map_hover_user_state_list

In [ ]:
for state in map_hover_user_state_list:
    years=os.listdir(f"{map_user_state_path}/{state}")
    for year in years:
        quarter=os.listdir(f"{map_user_state_path}/{state}/{year}")
        for qtr in quarter:
           path=f"{map_user_state_path}/{state}/{year}/{qtr}"
           print(path)

In [ ]:
map_user_path="/content/pulse/data/map/user/hover/country/india/state/andaman-&-nicobar-islands/2018/1.json"
with open(map_user_path,'r') as f:
  data=json.load(f)
data

{'success': True,
 'code': 'SUCCESS',
 'data': {'hoverData': {'north and middle andaman district': {'registeredUsers': 632,
    'appOpens': 0},
   'south andaman district': {'registeredUsers': 5846, 'appOpens': 0},
   'nicobars district': {'registeredUsers': 262, 'appOpens': 0}}},
 'responseTimestamp': 1630502911500}

In [ ]:
data.keys()

dict_keys(['success', 'code', 'data', 'responseTimestamp'])

In [ ]:
data['data']['hoverData']

{'north and middle andaman district': {'registeredUsers': 632, 'appOpens': 0},
 'south andaman district': {'registeredUsers': 5846, 'appOpens': 0},
 'nicobars district': {'registeredUsers': 262, 'appOpens': 0}}

In [ ]:
map_user_data={'States':[], 'Years':[], 'Quarter':[], 'District':[], 'RegisteredUsers':[], 'AppOpens':[]}


for state in map_hover_user_state_list:
    years=os.listdir(f"{map_user_state_path}/{state}")
    for year in years:
        quarter=os.listdir(f"{map_user_state_path}/{state}/{year}")
        for qtr in quarter:
           path=f"{map_user_state_path}/{state}/{year}/{qtr}"
           #print(path)

           with open(map_user_path,'r') as f:
              data=json.load(f)
           #print(data)
           try:
              for i in data['data']['hoverData'].items():
                district=i[0]
                registeredUsers=(i[1]['registeredUsers'])
                appOpens=(i[1]['appOpens'])
                map_user_data['District'].append(district)
                map_user_data['RegisteredUsers'].append(registeredUsers)
                map_user_data['AppOpens'].append(appOpens)
                map_user_data['States'].append(state)
                map_user_data['Years'].append(year)
                map_user_data['Quarter'].append(int(qtr.strip(".json")))
           except:
               pass
map_user_data

In [ ]:
map_user_data_df=pd.DataFrame(map_user_data)
map_user_data_df

,States,Years,Quarter,District,RegisteredUsers,AppOpens
0,rajasthan,2023,1,north and middle andaman district,632,0
1,rajasthan,2023,1,south andaman district,5846,0
2,rajasthan,2023,1,nicobars district,262,0
3,rajasthan,2023,2,north and middle andaman district,632,0
4,rajasthan,2023,2,south andaman district,5846,0
...,...,...,...,...,...,...
3019,lakshadweep,2018,3,south andaman district,5846,0
3020,lakshadweep,2018,3,nicobars district,262,0
3021,lakshadweep,2018,4,north and middle andaman district,632,0
3022,lakshadweep,2018,4,south andaman district,5846,0
3023,lakshadweep,2018,4,nicobars district,262,0

In [ ]:
!pip install sqlalchemy psycopg2

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.11/dist-packages (2.0.41)
Requirement already satisfied: psycopg2 in /usr/local/lib/python3.11/dist-packages (2.9.10)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy) (3.2.3)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.11/dist-packages (from sqlalchemy) (4.14.1)

#Top

#Top_ins_country

In [ ]:
top_ins_state_path="/content/pulse/data/top/insurance/country/india/state"
top_ins_state_list=os.listdir(top_ins_state_path)
top_ins_state_list

In [ ]:
for state in top_ins_state_list:
    years=os.listdir(f"{top_ins_state_path}/{state}")
    for year in years:
        quarter=os.listdir(f"{top_ins_state_path}/{state}/{year}")
        for qtr in quarter:
           path=f"{top_ins_state_path}/{state}/{year}/{qtr}"
           print(path)

In [13]:
top_ins_path="/content/pulse/data/top/insurance/country/india/state/andaman-&-nicobar-islands/2020/2.json"
with open(top_ins_path,'r') as f:
  data=json.load(f)
data

{'success': True,
 'code': 'SUCCESS',
 'data': {'states': None,
  'districts': [{'entityName': 'nicobars',
    'metric': {'type': 'TOTAL', 'count': 3, 'amount': 565.0}},
   {'entityName': 'south andaman',
    'metric': {'type': 'TOTAL', 'count': 3, 'amount': 795.0}}],
  'pincodes': [{'entityName': '744301',
    'metric': {'type': 'TOTAL', 'count': 3, 'amount': 565.0}},
   {'entityName': '744104',
    'metric': {'type': 'TOTAL', 'count': 2, 'amount': 513.0}},
   {'entityName': '744101',
    'metric': {'type': 'TOTAL', 'count': 1, 'amount': 282.0}}]},
 'responseTimestamp': 1692610808830}

In [ ]:
top_ins_data={'States':[], 'Years':[], 'Quarter':[], 'Pincodes':[], 'Transaction_count':[], 'Transaction_amount':[]}


for state in top_ins_state_list:
    years=os.listdir(f"{top_ins_state_path}/{state}")
    for year in years:
        quarter=os.listdir(f"{top_ins_state_path}/{state}/{year}")
        for qtr in quarter:
           path=f"{top_ins_state_path}/{state}/{year}/{qtr}"
           #print(path)

           with open(top_ins_path,'r') as f:
              data=json.load(f)
           #print(data)
           try:
              for i in data['data']['pincodes']:
                entityName=i['entityName']
                count=i['metric']['count']
                amount=i['metric']['amount']
                top_ins_data['Pincodes'].append(entityName)
                top_ins_data['Transaction_count'].append(count)
                top_ins_data['Transaction_amount'].append(amount)
                top_ins_data['States'].append(state)
                top_ins_data['Years'].append(year)
                top_ins_data['Quarter'].append(int(qtr.strip(".json")))
           except:
               pass
top_ins_data

In [16]:
top_ins_data_df=pd.DataFrame(top_ins_data)
top_ins_data_df

,States,Years,Quarter,Pincodes,Transaction_count,Transaction_amount
0,chhattisgarh,2023,2,744301,3,565.0
1,chhattisgarh,2023,2,744104,2,513.0
2,chhattisgarh,2023,2,744101,1,282.0
3,chhattisgarh,2023,4,744301,3,565.0
4,chhattisgarh,2023,4,744104,2,513.0
...,...,...,...,...,...,...
2047,himachal-pradesh,2020,4,744104,2,513.0
2048,himachal-pradesh,2020,4,744101,1,282.0
2049,himachal-pradesh,2020,3,744301,3,565.0
2050,himachal-pradesh,2020,3,744104,2,513.0
2051,himachal-pradesh,2020,3,744101,1,282.0

#Top_transaction_country

In [ ]:
top_trans_state_path="/content/pulse/data/top/transaction/country/india/state"
top_trans_state_list=os.listdir(top_trans_state_path)
top_trans_state_list

In [ ]:
for state in top_trans_state_list:
    years=os.listdir(f"{top_trans_state_path}/{state}")
    for year in years:
        quarter=os.listdir(f"{top_trans_state_path}/{state}/{year}")
        for qtr in quarter:
           path=f"{top_trans_state_path}/{state}/{year}/{qtr}"
           print(path)

In [19]:
top_trans_path="/content/pulse/data/top/transaction/country/india/state/andaman-&-nicobar-islands/2018/1.json"
with open(top_trans_path,'r') as f:
  data=json.load(f)
data

{'success': True,
 'code': 'SUCCESS',
 'data': {'states': None,
  'districts': [{'entityName': 'south andaman',
    'metric': {'type': 'TOTAL', 'count': 5688, 'amount': 12560249.343665812}},
   {'entityName': 'nicobars',
    'metric': {'type': 'TOTAL', 'count': 528, 'amount': 1139848.801225994}},
   {'entityName': 'north and middle andaman',
    'metric': {'type': 'TOTAL', 'count': 442, 'amount': 931663.0770939873}}],
  'pincodes': [{'entityName': '744101',
    'metric': {'type': 'TOTAL', 'count': 1622, 'amount': 2769297.9039997994}},
   {'entityName': '744103',
    'metric': {'type': 'TOTAL', 'count': 1223, 'amount': 2238041.8716124697}},
   {'entityName': '744102',
    'metric': {'type': 'TOTAL', 'count': 969, 'amount': 3519059.937562449}},
   {'entityName': '744105',
    'metric': {'type': 'TOTAL', 'count': 685, 'amount': 1298560.9515503529}},
   {'entityName': '744104',
    'metric': {'type': 'TOTAL', 'count': 340, 'amount': 1039715.3111450541}},
   {'entityName': '744107',
    'metric': {'type': 'TOTAL', 'count': 302, 'amount': 556059.5308556345}},
   {'entityName': '744301',
    'metric': {'type': 'TOTAL', 'count': 283, 'amount': 445739.1633851439}},
   {'entityName': '744112',
    'metric': {'type': 'TOTAL', 'count': 269, 'amount': 333709.56700413954}},
   {'entityName': '744202',
    'metric': {'type': 'TOTAL', 'count': 193, 'amount': 238914.01667155625}},
   {'entityName': '744302',
    'metric': {'type': 'TOTAL', 'count': 168, 'amount': 547469.6509380838}}]},
 'responseTimestamp': 1630501486876}

In [ ]:
top_trans_data={'States':[], 'Years':[], 'Quarter':[], 'Pincodes':[], 'Transaction_count':[], 'Transaction_amount':[]}


for state in top_trans_state_list:
    years=os.listdir(f"{top_trans_state_path}/{state}")
    for year in years:
        quarter=os.listdir(f"{top_trans_state_path}/{state}/{year}")
        for qtr in quarter:
           path=f"{top_trans_state_path}/{state}/{year}/{qtr}"
           #print(path)

           with open(top_trans_path,'r') as f:
              data=json.load(f)
           #print(data)
           try:
              for i in data['data']['pincodes']:
                entityName=i['entityName']
                count=i['metric']['count']
                amount=i['metric']['amount']
                top_trans_data['Pincodes'].append(entityName)
                top_trans_data['Transaction_count'].append(count)
                top_trans_data['Transaction_amount'].append(amount)
                top_trans_data['States'].append(state)
                top_trans_data['Years'].append(year)
                top_trans_data['Quarter'].append(int(qtr.strip(".json")))
           except:
               pass
top_trans_data

In [21]:
top_trans_data_df=pd.DataFrame(top_trans_data)
top_trans_data_df

,States,Years,Quarter,Pincodes,Transaction_count,Transaction_amount
0,chhattisgarh,2018,2,744101,1622,2.769298e+06
1,chhattisgarh,2018,2,744103,1223,2.238042e+06
2,chhattisgarh,2018,2,744102,969,3.519060e+06
3,chhattisgarh,2018,2,744105,685,1.298561e+06
4,chhattisgarh,2018,2,744104,340,1.039715e+06
...,...,...,...,...,...,...
10075,himachal-pradesh,2020,3,744107,302,5.560595e+05
10076,himachal-pradesh,2020,3,744301,283,4.457392e+05
10077,himachal-pradesh,2020,3,744112,269,3.337096e+05
10078,himachal-pradesh,2020,3,744202,193,2.389140e+05
10079,himachal-pradesh,2020,3,744302,168,5.474697e+05

#Top_user_country

In [ ]:
top_user_state_path="/content/pulse/data/top/user/country/india/state"
top_user_state_list=os.listdir(top_user_state_path)
top_user_state_list

In [ ]:
for state in top_user_state_list:
    years=os.listdir(f"{top_user_state_path}/{state}")
    for year in years:
        quarter=os.listdir(f"{top_user_state_path}/{state}/{year}")
        for qtr in quarter:
           path=f"{top_user_state_path}/{state}/{year}/{qtr}"
           print(path)

In [27]:
top_user_path="/content/pulse/data/top/user/country/india/state/andaman-&-nicobar-islands/2018/1.json"
with open(top_user_path,'r') as f:
  data=json.load(f)
data

{'success': True,
 'code': 'SUCCESS',
 'data': {'states': None,
  'districts': [{'name': 'south andaman', 'registeredUsers': 5846},
   {'name': 'north and middle andaman', 'registeredUsers': 632},
   {'name': 'nicobars', 'registeredUsers': 262}],
  'pincodes': [{'name': '744103', 'registeredUsers': 1608},
   {'name': '744101', 'registeredUsers': 1108},
   {'name': '744105', 'registeredUsers': 1075},
   {'name': '744102', 'registeredUsers': 1006},
   {'name': '744104', 'registeredUsers': 272},
   {'name': '744202', 'registeredUsers': 237},
   {'name': '744112', 'registeredUsers': 215},
   {'name': '744301', 'registeredUsers': 207},
   {'name': '744107', 'registeredUsers': 196},
   {'name': '744211', 'registeredUsers': 156}]},
 'responseTimestamp': 1630501494546}

In [8]:
data.keys()

dict_keys(['success', 'code', 'data', 'responseTimestamp'])

In [11]:
data['data']

{'states': None,
 'districts': [{'name': 'south andaman', 'registeredUsers': 5846},
  {'name': 'north and middle andaman', 'registeredUsers': 632},
  {'name': 'nicobars', 'registeredUsers': 262}],
 'pincodes': [{'name': '744103', 'registeredUsers': 1608},
  {'name': '744101', 'registeredUsers': 1108},
  {'name': '744105', 'registeredUsers': 1075},
  {'name': '744102', 'registeredUsers': 1006},
  {'name': '744104', 'registeredUsers': 272},
  {'name': '744202', 'registeredUsers': 237},
  {'name': '744112', 'registeredUsers': 215},
  {'name': '744301', 'registeredUsers': 207},
  {'name': '744107', 'registeredUsers': 196},
  {'name': '744211', 'registeredUsers': 156}]}

In [ ]:
for i in data

In [ ]:
top_user_data={'States':[], 'Years':[], 'Quarter':[], 'Pincodes':[], 'RegisteredUsers':[]}


for state in top_user_state_list:
    years=os.listdir(f"{top_user_state_path}/{state}")
    for year in years:
        quarter=os.listdir(f"{top_user_state_path}/{state}/{year}")
        for qtr in quarter:
           path=f"{top_user_state_path}/{state}/{year}/{qtr}"
           #print(path)

           with open(top_user_path,'r') as f:
              data=json.load(f)
           #print(data)
           try:
              for i in data['data']['pincodes']:
                entityName=i['name']
                registeredusers=i['registeredUsers']
                top_user_data['Pincodes'].append(entityName)
                top_user_data['RegisteredUsers'].append(registeredusers)
                top_user_data['States'].append(state)
                top_user_data['Years'].append(year)
                top_user_data['Quarter'].append(int(qtr.strip(".json")))
           except:
               pass
top_user_data

In [29]:
top_user_data_df=pd.DataFrame(top_user_data)
top_user_data_df

                 States Years  Quarter Pincodes  RegisteredUsers
0          chhattisgarh  2018        2   744103             1608
1          chhattisgarh  2018        2   744101             1108
2          chhattisgarh  2018        2   744105             1075
3          chhattisgarh  2018        2   744102             1006
4          chhattisgarh  2018        2   744104              272
...                 ...   ...      ...      ...              ...
10075  himachal-pradesh  2020        3   744202              237
10076  himachal-pradesh  2020        3   744112              215
10077  himachal-pradesh  2020        3   744301              207
10078  himachal-pradesh  2020        3   744107              196
10079  himachal-pradesh  2020        3   744211              156

[10080 rows x 5 columns]