<a href="https://colab.research.google.com/github/sripriya444/sql_notes_sripriya/blob/main/Phonepe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/PhonePe/pulse

Cloning into 'pulse'...
remote: Enumerating objects: 17904, done.
remote: Counting objects: 100% (49/49), done.
remote: Compressing objects: 100% (32/32), done.
remote: Total 17904 (delta 19), reused 17 (delta 17), pack-reused 17855 (from 2)
Receiving objects: 100% (17904/17904), 26.13 MiB | 17.83 MiB/s, done.
Resolving deltas: 100% (8723/8723), done.
Updating files: 100% (9029/9029), done.

#Aggregated

In [ ]:
import os
agg_state_path="/content/pulse/data/aggregated/insurance/country/india/state"
agg_state_list=os.listdir(agg_state_path)
agg_state_list

In [ ]:
import pandas as pd
import json
import os

In [ ]:
for state in agg_state_list:
    years=os.listdir(f"{agg_state_path}/{state}")
    for year in years:
        quarter=os.listdir(f"{agg_state_path}/{state}/{year}")
        for qtr in quarter:
           print(f"{agg_state_path}/{state}/{year}/{qtr}")

In [ ]:
path="/content/pulse/data/aggregated/insurance/country/india/state/andaman-&-nicobar-islands/2020/2.json"

with open(path,'r') as f:
  data=json.load(f)
data

{'success': True,
 'code': 'SUCCESS',
 'data': {'from': 1585679400000,
  'to': 1593282600000,
  'transactionData': [{'name': 'Insurance',
    'paymentInstruments': [{'type': 'TOTAL', 'count': 6, 'amount': 1360.0}]}]},
 'responseTimestamp': 1692610808643}

In [ ]:
data.keys()

dict_keys(['success', 'code', 'data', 'responseTimestamp'])

In [ ]:
data['data']

{'from': 1585679400000,
 'to': 1593282600000,
 'transactionData': [{'name': 'Insurance',
   'paymentInstruments': [{'type': 'TOTAL', 'count': 6, 'amount': 1360.0}]}]}

In [ ]:
data['data']['transactionData'][0]['paymentInstruments']

[{'type': 'TOTAL', 'count': 6, 'amount': 1360.0}]

In [ ]:
for i in data['data']['transactionData']:
  name=i['name']
  count=i['paymentInstruments'][0]['count']
  amount=i['paymentInstruments'][0]['amount']
  print(name,count,amount)

Insurance 6 1360.0

In [ ]:
for i in data['data']['transactionData']:
  print(i['paymentInstruments'])

[{'type': 'TOTAL', 'count': 6, 'amount': 1360.0}]

In [ ]:
agg_trans_data={'States':[], 'Years':[], 'Quarter':[], 'transaction_type':[], 'transaction_count':[], 'transaction_amount':[]}


for state in agg_state_list:
    years=os.listdir(f"{agg_state_path}/{state}")
    for year in years:
        quarter=os.listdir(f"{agg_state_path}/{state}/{year}")
        for qtr in quarter:
           path=f"{agg_state_path}/{state}/{year}/{qtr}"
           #print(path)

           with open(path,'r') as f:
             data=json.load(f)
           #print(data)

           for i in data['data']['transactionData']:
             name=i['name']
             count=i['paymentInstruments'][0]['count']
             amount=i['paymentInstruments'][0]['amount']
             agg_trans_data['transaction_type'].append(name)
             agg_trans_data['transaction_count'].append(count)
             agg_trans_data['transaction_amount'].append(amount)
             agg_trans_data['States'].append(state)
             agg_trans_data['Years'].append(year)
             agg_trans_data['Quarter'].append(int(qtr.strip(".json")))
agg_trans_data

In [ ]:
agg_trans_df=pd.DataFrame(agg_trans_data)
agg_trans_df

,States,Years,Quarter,transaction_type,transaction_count,transaction_amount
0,lakshadweep,2023,2,Insurance,15,38384.0
1,lakshadweep,2023,3,Insurance,12,12407.0
2,lakshadweep,2023,1,Insurance,26,30199.0
3,lakshadweep,2023,4,Insurance,53,78346.0
4,lakshadweep,2020,3,Insurance,4,1199.0
...,...,...,...,...,...,...
677,andaman-&-nicobar-islands,2024,4,Insurance,1293,2026380.0
678,andaman-&-nicobar-islands,2021,2,Insurance,137,181504.0
679,andaman-&-nicobar-islands,2021,3,Insurance,230,305235.0
680,andaman-&-nicobar-islands,2021,1,Insurance,225,244266.0
681,andaman-&-nicobar-islands,2021,4,Insurance,757,1056380.0

In [ ]:
agg_state_path1="/content/pulse/data/aggregated/transaction/country/india/state"
agg_state_list=os.listdir(agg_state_path)
agg_state_list

In [ ]:
for state in agg_state_list:
    years=os.listdir(f"{agg_state_path1}/{state}")
    for year in years:
        quarter=os.listdir(f"{agg_state_path1}/{state}/{year}")
        for qtr in quarter:
           path=f"{agg_state_path1}/{state}/{year}/{qtr}"
           print(path)

In [ ]:
path1="/content/pulse/data/aggregated/transaction/country/india/state/andaman-&-nicobar-islands/2018/1.json"

with open(path1,'r') as f:
  data=json.load(f)
data

In [ ]:
data.keys()

dict_keys(['success', 'code', 'data', 'responseTimestamp'])

In [ ]:
data['data']

{'from': 1633026600000,
 'to': 1640629800000,
 'transactionData': [{'name': 'Insurance',
   'paymentInstruments': [{'type': 'TOTAL',
     'count': 757,
     'amount': 1056380.0}]}]}

In [ ]:
data['data']['transactionData']

[{'name': 'Insurance',
  'paymentInstruments': [{'type': 'TOTAL',
    'count': 757,
    'amount': 1056380.0}]}]

In [ ]:
data['data']['transactionData'][0]['paymentInstruments']

[{'type': 'TOTAL', 'count': 4200, 'amount': 1845307.4673655091}]

In [ ]:
agg_trans_data1={'States':[], 'Years':[], 'Quarter':[], 'transaction_type':[], 'transaction_count':[], 'transaction_amount':[]}


for state in agg_state_list:
    years=os.listdir(f"{agg_state_path1}/{state}")
    for year in years:
        quarter=os.listdir(f"{agg_state_path1}/{state}/{year}")
        for qtr in quarter:
           path=f"{agg_state_path1}/{state}/{year}/{qtr}"
           #print(path)

           with open(path1,'r') as f:
              data=json.load(f)
           #print(data)

           for i in data['data']['transactionData']:
             name=i['name']
             count=i['paymentInstruments'][0]['count']
             amount=i['paymentInstruments'][0]['amount']
             agg_trans_data1['transaction_type'].append(name)
             agg_trans_data1['transaction_count'].append(count)
             agg_trans_data1['transaction_amount'].append(amount)
             agg_trans_data1['States'].append(state)
             agg_trans_data1['Years'].append(year)
             agg_trans_data1['Quarter'].append(int(qtr.strip(".json")))
agg_trans_data1

In [ ]:
agg_trans_df1=pd.DataFrame(agg_trans_data1)
agg_trans_df1

,States,Years,Quarter,transaction_type,transaction_count,transaction_amount
0,west-bengal,2022,1,Recharge & bill payments,4200,1.845307e+06
1,west-bengal,2022,1,Peer-to-peer payments,1871,1.213866e+07
2,west-bengal,2022,1,Merchant payments,298,4.525072e+05
3,west-bengal,2022,1,Financial Services,33,1.060142e+04
4,west-bengal,2022,1,Others,256,1.846899e+05
...,...,...,...,...,...,...
5035,assam,2020,3,Recharge & bill payments,4200,1.845307e+06
5036,assam,2020,3,Peer-to-peer payments,1871,1.213866e+07
5037,assam,2020,3,Merchant payments,298,4.525072e+05
5038,assam,2020,3,Financial Services,33,1.060142e+04
5039,assam,2020,3,Others,256,1.846899e+05

In [ ]:
agg_state_path2="/content/pulse/data/aggregated/user/country/india/state"
agg_state_list=os.listdir(agg_state_path2)
agg_state_list

In [ ]:
for state in agg_state_list:
    years=os.listdir(f"{agg_state_path2}/{state}")
    for year in years:
        quarter=os.listdir(f"{agg_state_path2}/{state}/{year}")
        for qtr in quarter:
           path=f"{agg_state_path2}/{state}/{year}/{qtr}"
           print(path)

In [ ]:
path2="/content/pulse/data/aggregated/user/country/india/state/andaman-&-nicobar-islands/2018/1.json"

with open(path2,'r') as f:
  data=json.load(f)
data

In [ ]:
data.keys()

dict_keys(['success', 'code', 'data', 'responseTimestamp'])

In [ ]:
data['data']

{'aggregated': {'registeredUsers': 6740, 'appOpens': 0},
 'usersByDevice': [{'brand': 'Xiaomi',
   'count': 1665,
   'percentage': 0.2470326409495549},
  {'brand': 'Samsung', 'count': 1445, 'percentage': 0.21439169139465875},
  {'brand': 'Vivo', 'count': 982, 'percentage': 0.1456973293768546},
  {'brand': 'Oppo', 'count': 501, 'percentage': 0.07433234421364986},
  {'brand': 'OnePlus', 'count': 332, 'percentage': 0.04925816023738872},
  {'brand': 'Realme', 'count': 316, 'percentage': 0.04688427299703264},
  {'brand': 'Apple', 'count': 229, 'percentage': 0.03397626112759644},
  {'brand': 'Motorola', 'count': 226, 'percentage': 0.03353115727002967},
  {'brand': 'Lenovo', 'count': 202, 'percentage': 0.02997032640949555},
  {'brand': 'Huawei', 'count': 158, 'percentage': 0.02344213649851632},
  {'brand': 'Others', 'count': 684, 'percentage': 0.10148367952522255}]}

In [ ]:
data['data']['usersByDevice']

[{'brand': 'Xiaomi', 'count': 1665, 'percentage': 0.2470326409495549},
 {'brand': 'Samsung', 'count': 1445, 'percentage': 0.21439169139465875},
 {'brand': 'Vivo', 'count': 982, 'percentage': 0.1456973293768546},
 {'brand': 'Oppo', 'count': 501, 'percentage': 0.07433234421364986},
 {'brand': 'OnePlus', 'count': 332, 'percentage': 0.04925816023738872},
 {'brand': 'Realme', 'count': 316, 'percentage': 0.04688427299703264},
 {'brand': 'Apple', 'count': 229, 'percentage': 0.03397626112759644},
 {'brand': 'Motorola', 'count': 226, 'percentage': 0.03353115727002967},
 {'brand': 'Lenovo', 'count': 202, 'percentage': 0.02997032640949555},
 {'brand': 'Huawei', 'count': 158, 'percentage': 0.02344213649851632},
 {'brand': 'Others', 'count': 684, 'percentage': 0.10148367952522255}]

In [ ]:
agg_trans_data2={'States':[], 'Years':[], 'Quarter':[], 'brand':[], 'transaction_count':[], 'percentage':[]}


for state in agg_state_list:
    years=os.listdir(f"{agg_state_path2}/{state}")
    for year in years:
        quarter=os.listdir(f"{agg_state_path2}/{state}/{year}")
        for qtr in quarter:
           path=f"{agg_state_path2}/{state}/{year}/{qtr}"
           #print(path)

           with open(path2,'r') as f:
              data=json.load(f)
           #print(data)

           for i in data['data']['usersByDevice']:
             brand=i['brand']
             count=i['count']
             percentage=i['percentage']
             agg_trans_data2['brand'].append(brand)
             agg_trans_data2['transaction_count'].append(count)
             agg_trans_data2['percentage'].append(percentage)
             agg_trans_data2['States'].append(state)
             agg_trans_data2['Years'].append(year)
             agg_trans_data2['Quarter'].append(int(qtr.strip(".json")))
agg_trans_data2

In [ ]:
agg_trans_df2=pd.DataFrame(agg_trans_data2)
agg_trans_df2

,States,Years,Quarter,brand,transaction_count,percentage
0,lakshadweep,2023,2,Xiaomi,1665,0.247033
1,lakshadweep,2023,2,Samsung,1445,0.214392
2,lakshadweep,2023,2,Vivo,982,0.145697
3,lakshadweep,2023,2,Oppo,501,0.074332
4,lakshadweep,2023,2,OnePlus,332,0.049258
...,...,...,...,...,...,...
11083,andaman-&-nicobar-islands,2019,4,Apple,229,0.033976
11084,andaman-&-nicobar-islands,2019,4,Motorola,226,0.033531
11085,andaman-&-nicobar-islands,2019,4,Lenovo,202,0.029970
11086,andaman-&-nicobar-islands,2019,4,Huawei,158,0.023442
11087,andaman-&-nicobar-islands,2019,4,Others,684,0.101484

#Map

#Insurance_country

In [ ]:
map_state_path="/content/pulse/data/map/insurance/country/india/state"
map_state_list=os.listdir(map_state_path)
map_state_list

In [ ]:
for state in map_state_list:
    years=os.listdir(f"{map_state_path}/{state}")
    for year in years:
        quarter=os.listdir(f"{map_state_path}/{state}/{year}")
        for qtr in quarter:
           path=f"{map_state_path}/{state}/{year}/{qtr}"
           print(path)

In [ ]:
map_path1="/content/pulse/data/map/insurance/country/india/state/andaman-&-nicobar-islands/2020/2.json"

with open(map_path1,'r') as f:
  data=json.load(f)
data

{'success': True,
 'code': 'SUCCESS',
 'data': {'meta': {'dataLevel': 'STATE',
   'gridLevel': 11,
   'percentiles': {'10.0': 1,
    '20.0': 1,
    '40.0': 2,
    '80.0': 3,
    '90.0': 3,
    '99.5': 3,
    '50.0': 2,
    '30.0': 2,
    '60.0': 2}},
  'data': {'columns': ['lat', 'lng', 'metric', 'label'],
   'data': [[9.173490186987454, 92.81284629716966, 3.0, 'nicobars district'],
    [11.665257436858854, 92.75309356673915, 2.0, 'south andaman district'],
    [11.665446250597826, 92.73319282403017, 1.0, 'south andaman district']]}},
 'responseTimestamp': 1692610808552}

In [ ]:
data.keys()

dict_keys(['success', 'code', 'data', 'responseTimestamp'])

In [ ]:
data['data']

{'meta': {'dataLevel': 'STATE',
  'gridLevel': 11,
  'percentiles': {'10.0': 1,
   '20.0': 1,
   '40.0': 2,
   '80.0': 3,
   '90.0': 3,
   '99.5': 3,
   '50.0': 2,
   '30.0': 2,
   '60.0': 2}},
 'data': {'columns': ['lat', 'lng', 'metric', 'label'],
  'data': [[9.173490186987454, 92.81284629716966, 3.0, 'nicobars district'],
   [11.665257436858854, 92.75309356673915, 2.0, 'south andaman district'],
   [11.665446250597826, 92.73319282403017, 1.0, 'south andaman district']]}}

In [ ]:
for i in data['data']['data']:
   print(i)

columns
data

In [ ]:
for i in data['data']['meta']:
             dataLevel=i['dataLevel']
             gridLevel=i['gridLevel']
             percentiles=i['percentiles']
             agg_trans_data2['brand'].append(brand)
             agg_trans_data2['transaction_count'].append(count)
             agg_trans_data2['percentage'].append(percentage)
             agg_trans_data2['States'].append(state)
             agg_trans_data2['Years'].append(year)
             agg_trans_data2['Quarter'].append(int(qtr.strip(".json")))
agg_trans_data2

#Insurance_hover

In [ ]:
map_hover_state_path="/content/pulse/data/map/insurance/hover/country/india/state"
map_hover_state_list=os.listdir(map_hover_state_path)
map_hover_state_list

In [ ]:
for state in map_hover_state_list:
    years=os.listdir(f"{map_hover_state_path}/{state}")
    for year in years:
        quarter=os.listdir(f"{map_hover_state_path}/{state}/{year}")
        for qtr in quarter:
           path=f"{map_hover_state_path}/{state}/{year}/{qtr}"
           print(path)

In [ ]:
map_hover_path="/content/pulse/data/map/insurance/hover/country/india/state/andaman-&-nicobar-islands/2020/2.json"
with open(map_hover_path,'r') as f:
  data=json.load(f)
data

{'success': True,
 'code': 'SUCCESS',
 'data': {'hoverDataList': [{'name': 'south andaman district',
    'metric': [{'type': 'TOTAL', 'count': 3, 'amount': 795.0}]},
   {'name': 'nicobars district',
    'metric': [{'type': 'TOTAL', 'count': 3, 'amount': 565.0}]}]},
 'responseTimestamp': 1692610808730}

In [ ]:
data.keys()

dict_keys(['success', 'code', 'data', 'responseTimestamp'])

In [ ]:
data['data']

{'hoverDataList': [{'name': 'south andaman district',
   'metric': [{'type': 'TOTAL', 'count': 3, 'amount': 795.0}]},
  {'name': 'nicobars district',
   'metric': [{'type': 'TOTAL', 'count': 3, 'amount': 565.0}]}]}

In [ ]:
data['data']['hoverDataList'][0]['metric']

[{'type': 'TOTAL', 'count': 3, 'amount': 795.0}]

In [ ]:
map_hover_ins_data={'States':[], 'Years':[], 'Quarter':[], 'district':[], 'transaction_count':[], 'transaction_amount':[]}


for state in map_hover_state_list:
    years=os.listdir(f"{map_hover_state_path}/{state}")
    for year in years:
        quarter=os.listdir(f"{map_hover_state_path}/{state}/{year}")
        for qtr in quarter:
           path=f"{map_hover_state_path}/{state}/{year}/{qtr}"
           #print(path)

           with open(map_hover_path,'r') as f:
              data=json.load(f)
           #print(data)

           for i in data['data']['hoverDataList']:
             district=i['name']
             count=i['metric'][0]['count']
             amount=i['metric'][0]['amount']
             map_hover_ins_data['district'].append(district)
             map_hover_ins_data['transaction_count'].append(count)
             map_hover_ins_data['transaction_amount'].append(amount)
             map_hover_ins_data['States'].append(state)
             map_hover_ins_data['Years'].append(year)
             map_hover_ins_data['Quarter'].append(int(qtr.strip(".json")))
map_hover_ins_data

In [ ]:
map_hover_ins_df=pd.DataFrame(map_hover_ins_data)
map_hover_ins_df

,States,Years,Quarter,district,transaction_count,transaction_amount
0,lakshadweep,2023,2,south andaman district,3,795.0
1,lakshadweep,2023,2,nicobars district,3,565.0
2,lakshadweep,2023,3,south andaman district,3,795.0
3,lakshadweep,2023,3,nicobars district,3,565.0
4,lakshadweep,2023,1,south andaman district,3,795.0
...,...,...,...,...,...,...
1363,andaman-&-nicobar-islands,2021,3,nicobars district,3,565.0
1364,andaman-&-nicobar-islands,2021,1,south andaman district,3,795.0
1365,andaman-&-nicobar-islands,2021,1,nicobars district,3,565.0
1366,andaman-&-nicobar-islands,2021,4,south andaman district,3,795.0
1367,andaman-&-nicobar-islands,2021,4,nicobars district,3,565.0

#Transaction_hover

In [ ]:
map_hover_trans_state_path="/content/pulse/data/map/transaction/hover/country/india/state"
map_hover_trans_state_list=os.listdir(map_hover_trans_state_path)
map_hover_trans_state_list

In [ ]:
for state in map_hover_trans_state_list:
    years=os.listdir(f"{map_hover_trans_state_path}/{state}")
    for year in years:
        quarter=os.listdir(f"{map_hover_trans_state_path}/{state}/{year}")
        for qtr in quarter:
           path=f"{map_hover_trans_state_path}/{state}/{year}/{qtr}"
           print(path)

In [ ]:
map_hover_trans_path="/content/pulse/data/map/transaction/hover/country/india/state/andaman-&-nicobar-islands/2018/1.json"
with open(map_hover_trans_path,'r') as f:
  data=json.load(f)
data

{'success': True,
 'code': 'SUCCESS',
 'data': {'hoverDataList': [{'name': 'north and middle andaman district',
    'metric': [{'type': 'TOTAL', 'count': 442, 'amount': 931663.0770939873}]},
   {'name': 'south andaman district',
    'metric': [{'type': 'TOTAL', 'count': 5688, 'amount': 12560249.34366581}]},
   {'name': 'nicobars district',
    'metric': [{'type': 'TOTAL',
      'count': 528,
      'amount': 1139848.801225994}]}]},
 'responseTimestamp': 1630502910687}

In [ ]:
data.keys()

dict_keys(['success', 'code', 'data', 'responseTimestamp'])

In [ ]:
data['data']

{'hoverDataList': [{'name': 'north and middle andaman district',
   'metric': [{'type': 'TOTAL', 'count': 442, 'amount': 931663.0770939873}]},
  {'name': 'south andaman district',
   'metric': [{'type': 'TOTAL', 'count': 5688, 'amount': 12560249.34366581}]},
  {'name': 'nicobars district',
   'metric': [{'type': 'TOTAL', 'count': 528, 'amount': 1139848.801225994}]}]}

In [ ]:
map_hover_trans_data={'States':[], 'Years':[], 'Quarter':[], 'district':[], 'transaction_count':[], 'transaction_amount':[]}


for state in map_hover_state_list:
    years=os.listdir(f"{map_hover_state_path}/{state}")
    for year in years:
        quarter=os.listdir(f"{map_hover_state_path}/{state}/{year}")
        for qtr in quarter:
           path=f"{map_hover_state_path}/{state}/{year}/{qtr}"
           #print(path)

           with open(map_hover_trans_path,'r') as f:
              data=json.load(f)
           #print(data)

           for i in data['data']['hoverDataList']:
             district=i['name']
             count=i['metric'][0]['count']
             amount=i['metric'][0]['amount']
             map_hover_trans_data['district'].append(district)
             map_hover_trans_data['transaction_count'].append(count)
             map_hover_trans_data['transaction_amount'].append(amount)
             map_hover_trans_data['States'].append(state)
             map_hover_trans_data['Years'].append(year)
             map_hover_trans_data['Quarter'].append(int(qtr.strip(".json")))
map_hover_trans_data

In [ ]:
map_hover_trans_data_df=pd.DataFrame(map_hover_trans_data)
map_hover_trans_data_df

,States,Years,Quarter,district,transaction_count,transaction_amount
0,lakshadweep,2023,2,north and middle andaman district,442,9.316631e+05
1,lakshadweep,2023,2,south andaman district,5688,1.256025e+07
2,lakshadweep,2023,2,nicobars district,528,1.139849e+06
3,lakshadweep,2023,3,north and middle andaman district,442,9.316631e+05
4,lakshadweep,2023,3,south andaman district,5688,1.256025e+07
...,...,...,...,...,...,...
2047,andaman-&-nicobar-islands,2021,1,south andaman district,5688,1.256025e+07
2048,andaman-&-nicobar-islands,2021,1,nicobars district,528,1.139849e+06
2049,andaman-&-nicobar-islands,2021,4,north and middle andaman district,442,9.316631e+05
2050,andaman-&-nicobar-islands,2021,4,south andaman district,5688,1.256025e+07
2051,andaman-&-nicobar-islands,2021,4,nicobars district,528,1.139849e+06

#User_hover

In [ ]:
map_hover_user_state_path="/content/pulse/data/map/transaction/hover/country/india/state"
map_hover_user_state_list=os.listdir(map_hover_user_state_path)
map_hover_user_state_list

In [ ]:
for state in map_hover_user_state_list:
    years=os.listdir(f"{map_hover_user_state_path}/{state}")
    for year in years:
        quarter=os.listdir(f"{map_hover_user_state_path}/{state}/{year}")
        for qtr in quarter:
           path=f"{map_hover_user_state_path}/{state}/{year}/{qtr}"
           print(path)

In [ ]:
map_hover_trans_user_path="/content/pulse/data/map/user/hover/country/india/state/andaman-&-nicobar-islands/2018/1.json"
with open(map_hover_trans_user_path,'r') as f:
  data=json.load(f)
data

{'success': True,
 'code': 'SUCCESS',
 'data': {'hoverData': {'north and middle andaman district': {'registeredUsers': 632,
    'appOpens': 0},
   'south andaman district': {'registeredUsers': 5846, 'appOpens': 0},
   'nicobars district': {'registeredUsers': 262, 'appOpens': 0}}},
 'responseTimestamp': 1630502911500}

In [ ]:
data.keys()

dict_keys(['success', 'code', 'data', 'responseTimestamp'])

In [ ]:
data['data']['hoverData']

{'north and middle andaman district': {'registeredUsers': 632, 'appOpens': 0},
 'south andaman district': {'registeredUsers': 5846, 'appOpens': 0},
 'nicobars district': {'registeredUsers': 262, 'appOpens': 0}}

In [ ]:
map_hover_trans_user_data={'States':[], 'Years':[], 'Quarter':[], 'district':[], 'registeredUsers':[], 'appOpens':[]}


for state in map_hover_user_state_list:
    years=os.listdir(f"{map_hover_user_state_path}/{state}")
    for year in years:
        quarter=os.listdir(f"{map_hover_user_state_path}/{state}/{year}")
        for qtr in quarter:
           path=f"{map_hover_user_state_path}/{state}/{year}/{qtr}"
           #print(path)

           with open(map_hover_trans_user_path,'r') as f:
              data=json.load(f)
           #print(data)

           for i in data['data']['hoverData']:
             district=['name']
             registeredUsers=int(i['registeredUsers'])
             appOpens=int(i['appOpens'])
             map_hover_trans_data['district'].append(district)
             map_hover_trans_user_data['registeredUsers'].append(registeredUsers)
             map_hover_trans_user_data['appOpens'].append(appOpens)
             map_hover_trans_user_data['States'].append(state)
             map_hover_trans_user_data['Years'].append(year)
             map_hover_trans_user_data['Quarter'].append(int(qtr.strip(".json")))
map_hover_trans_user_data

TypeError: string indices must be integers, not 'str'